html, body{
    background-image: url('imagenes/fondo.jpg') !important;
    color: white !important;
    font-family: 'Rubik', sans-serif;
}

.centrar-texto {
    text-align: center;
}

.header-app {
    width: 100%;
    background-image: url('imagenes/luna.jpg');
    height: 1000px;
    background-color: rgba(0, 0, 0, .7);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.menu-items {
    width: 50%;
}

.icono {}

.enlaces {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 18px;
}

.boton-menu {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 120px;
    height: 40px;
}

.boton-menu:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.enlaces-adorno {
    color: white;
    text-decoration: none;
}

.enlaces-adorno:hover {
    color: white;
}

.header-informacion {
    padding: 60px;
    width: 600px;
}

.header-titulo {
    font-weight: bold;
    font-size: 80px;
}

.header-texto {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.boton-header {
    margin-top: 20px;
    background: #0197d6;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

.boton-header:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.header-boxs {
    width: 100%;
    height: 300px;
    color: black;
    display: flex;
    flex-direction: column;
}

.box-header {
    padding: 20px 0px;
    width: 100%;
    height: 200px;
    background-color: #0c0f14;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.box-texto {
    display: flex;
    justify-content: center;
    gap: 6px;
    font-size: 26px;
    font-weight: bold;
}

.custommers{
    width: 100%;
}
.box-header, span {
    color: gray;
}
.icon-header{
    font-size: 40px;
    color: #0197d6;
}

@media screen and (min-width: 600px) {
    .header-boxs {
        width: 100%;
        height: 300px;
        color: black;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .box-header {
        padding: 15px;
        border-radius: 20px;
        width: 350px;
        height: 220px;
        background-color: #0c0f14;
        color: white;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}
.contenido-titulo {
    margin-bottom: 25px;
    margin-top: 30px;
}

.contenido-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding: 2rem;
}

.contenido-cajas {
    width: 100%;
    height: 250px;
    background-color: #0c0f14;
    align-items: center;
    gap: 120px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding: 1rem;
}

.contenido-imagenes {
    width: 60px;
    height: 50px;
    border-radius: 8rem;
    margin-right: 5px;
    align-items: center;
}

.contenido-flex2 {
    display: flex;
    align-items: center;
}

.parrafo {
    margin-left: 3rem;
}

.parrafo2 {
    margin-top: 10px;
    margin-left: 5px;
}


.box-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

.boxes-footer {
    background-color: transparent;
    height: 20rem;
    width: 10rem;
    margin-bottom: rem;
    margin-top: 2.50rem;
}

.flexer-footer {
    display: grid;
}

.titulo-footer {
    font-weight: bold;
}

.boton-footer {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5rem;
}

.enlaces-footer {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.boton2-footer {
    text-decoration: none;
    color: white;
}
